        .container {
            display: flex; /* Enables Flexbox layout */
            flex-wrap: wrap; /* Allows items to wrap to the next line */
            gap: 40px; /* Space between items */
            padding: 40px;
            flex-direction: row; /* Arrange items in a column */
            border:2px solid black;
            justify-content:center;
            align-items: center;
            margin: 20px;
            color:brown;
            background-color: aqua;

        }
        .card {
            background-color:white;
            padding: 20px;
            text-align: center;
            width:220px;
            box-shadow: 0 4px 8px rgba(0,0,0,0.5);
            border-radius:10px;
            border: 2px solid;

        }
        .circle {
            width: 70px;
            height: 70px;
            background-color: #0b3353a6;
            color: white;
            border-radius: 50%;
            font-size: 20px;
            font-weight:bold;
            margin: 0 auto 15px;
            line-height: 70px;

        }
        .h3{
            margin-bottom;:50 px }
        .p{
            margin: 5px 0;
            font-size: 14px;
        }

        .body{
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            background-color: white;
            margin: 20px; 
        }