body{
        background-color:lightskyblue;
    }
    h1{
        color:white;
        text-align: center;
        font-family:verdana;
        background-color:black;
    }
    p
    {
        fon-family:verdana;
        font-size:20px;
    }